.logo {
    width: 40px;
    height: 40px;
}

#ingredients-formset .form-row {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

#ingredients-formset .form-row > div {
    flex: 1;
    margin-right: 10px;
}

.custom-btn-container-ms {
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    transform: translate(219px, 0);
}

.custom-btn-container-ms-2 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 30px;
}